*{
    margin: 0;
    padding: 0;
    outline:none;
}*

.header{
height: 80px;;

color: aliceblue;
background-color:rgb(77, 53, 209);
}
.logo{
    float:left;
}
.banner{
    float:left;
    padding-top: 15px;
    padding-left: 350px;
    text-align: center;

}
.links-section{
    float: left;
    height:750px;
    width: 200px;
    background-color:rgb(154, 240, 255);
    padding: 5px;
    border-radius: 0.7rem;
}
body{
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(226, 253, 255);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
}
.content{
    float: left;
    height: 750px;
    width:950px;
    background-color:rgb(129, 233, 252);
    padding: 5px;
    border-radius: 0.7rem;
}
.list
{
    /*display: block;*/
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.header-text{
    text-align: center;
    padding: 0px;
}
.link-text{
    text-align: center;
   display:inline-block;
    padding-block: 20px;
}
.container1{
    float:left;
    padding: 10px;
}
.container2{
    float: left;
    padding-left:35px;
    padding-top: 10px;
}
.bullets{
    padding:10px
}