<!DOCTYPE html>
<html ng-app="bill">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style1.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  
  <title>Payment</title>
</head>

<body ng-controller="billctrl">
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Logo</label>
    <ul class="navbar">
      <li><a class="" href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="#">Community Forum</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>
  <embed type="image/jpg" class="responsive" src="Blog-cover2-1.jpg">
  <div class="icontainer-body">
    <div class="icontainer">
      <strong style="font-size: larger;">
        Payment details
      </strong>
      <table class="bill">
        <tr>
          <th width="25%">Details
            <br><input type="text" ng-model="search.details" placeholder="Enter details"/>
          </th>
          <th width="10%">Quantity
            <br><input type="text" ng-model="search.quantity" placeholder="Enter quantity"/>
          </th>
          <th width="10%">Price
            <br><input type="text" ng-model="search.price" placeholder="Enter price"/>
          </th>
          <th width="10%">Payment Status
            <br><input type="text" ng-model="search.paymentstatus" placeholder="Enter Status"/>
          </th>
          <th width="20%">Date
            <br><input type="text" ng-model="search.date" placeholder="Enter date"/>
          </th>
        </tr>
        <tr ng-repeat="item in list | filter:search | orderBy:'price'" >
          <td>{{item.details|uppercase}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.price| currency:"&#8377;":2 }}</td>
          <td>{{item.paymentstatus| capitalisefirstletter}}</td>
          <td>{{item.date | showdate}}</td>
        </tr>
      </table>
      <label class="bill-conc" >The total payable amount is : &#8377; {{ totalbill() }}</label>
      <div class="ibtn">
        <button class="btn-proceed" onclick="window.location.href='/paymentform.html'">
          Proceed
        </button>
      </div>
    </div>
  </div>


  <footer class="footer">
    <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="#">About</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Community Forum</a></li>

      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
    <p>&copy;2021 Team CDFL | All Rights Reserved</p>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="./angular.js"></script>
</body>

</html>